{% extends "layout.html" %}
{% block title %} Attendance {% endblock %}
{% block style %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='css/attendance.js') }}"></script>
<script src="{{ url_for('static', filename='css/attendance_status.js') }}"></script>

<style>
    table {
            border: 1px solid blue;
            border-collapse: collapse;
            background-color: white;
            width: 30%;
            height: 40%;
            text-align: center;
        }

        th,
        td {
            padding: 5px;
            border: 1px solid blue;
            text-align: center;
        }

        th {
            background-color: skyblue;
           
        }

        #table, #t1 {
            width: 100%;
            align-content: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         
        }
        #hide1{
            visibility: hidden;
        }
        #result, #result1 {
            color: red;
        }
        #status
        {
            color: black;
            font-size: small;
        }
        .sta11
        {
            color: red;
            margin-left: 37px;
            font-size: medium;
            font-weight: bold;
        }
        .newco2
        {
            color:black;
            background-color: skyblue;
            text-align: center;
            font-weight:normal;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           
        }
       


</style>
{% endblock %}
{% block nav %}
<a class="navbar-brand" href="{{url_for('instructoruser')}}">Student Portal</a>
{% endblock %}
{% block navigation %}
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="{{url_for('faculty_personal_details')}}"> Personal Details </a></li>
        <li><a href="{{url_for('assigned_courses')}}" id="form"> Assigned Courses </a></li>
        <li><a href="#">Grade Submission </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"> </span>
                {{ info.instructor_id }} </a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('instructorlogout')}}">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}
<ul class="pager">
    <li class="next"><a href="{{url_for('section_details', section=sec.id)}}" style="background-color: skyblue;font-weight:bold;color:black;opacity:0.6;margin-right:12px;border:2px solid skyblue;" >&laquo;previous</a></li>
  </ul>

<h1> Atendance - {{ sec.course_code }}({{ sec.section_no}})</h1>
<hr>

<div id = "hide1" > {{ sec.id}} </div>
<h2> Date-wise Attendance Status</h2>
<hr>

    <label for="date1" style="font-size:medium" > Date: </label> <input type="date" name = "date1" id = "date1" style="border:1px solid skyblue;">
    
    <form id = "show">
        <br> <button class="btn btn-info"  href = "#" id = "stat" style="margin-left:40px;font-weight:bold;border:2px solid skyblue;"> Attendance Status</button>
    </form>
    <br>
    <div id = "status"></div>
    <br> 
    <hr>
    <br>
    <h2> Take Attendance </h2>
    <hr>
    <label for="date" style="font-size:medium" > Date: </label> <input type="date" name = "date" id = "date" style="border:1px solid skyblue;">
    <br><br>
    <table id = "table" style="background-color: white;font-weight:bold;">
        <tr>
            <th> Student ID </th>
            <th> Student Name </th>
            <th> Attendance </th>
            <th> Status</th>
        </tr>
        <!-- {% set details = [] %} -->
        {% for student in student_list %}
        <!-- {{ details.append(student)}} -->
        <tr>
            <td> {{ student.student_id }} </td>
            <td> {{ student.student_first_name }} {{ student.student_last_name }} </td>
            <td> <input type="radio"  value = "P" name = "{{ student.student_id}}" data-id="{{ student.student_id}}"> Present <input type="radio"  value =  "A" name = "{{ student.student_id}}" data-id="{{ student.student_id}}"> Absent </td>
            <td data-attendance="{{ student.student_id}}">  </td>
        </tr>
    {% endfor %}

    </table>
    <br>
    
    <!-- <input type = "submit" name = "record" value ="Record">  -->

<h3 id = "result"> </h3>
<h3 id = "result1"> </h3>





{% endblock %}