{% extends "layout.html" %}
{% block title %} Course Management {% endblock %}
    {% block style %}
    <style>
        body {
            
         
            
                background-image: url(../static/images/home.jpg);
                background-size: cover;
             
                background-position: center;
    

        }

        p {
            color: white;
            font-size: 20px;

            text-align: center;
        }
        button {
                font-size: 18px;
                background-color: white;
                
                width: 20%;
                border-radius: 10px;
                padding: 10px;
                margin-top: 5px;
        }
        button:hover, #f2:hover {
            background-color: thistle;
        }
        #f1 {
            size: 100px;
            background-color: black;
            padding: 20px;
            width:60%;
            height:80%;
            margin: 0 auto;
            border-radius: 10px;
            align-content: center;
            opacity:0.75;
        }

        input {
            border: 2px solid grey;
            padding: 18px;
            width: 50%;
            border-radius: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
            /*font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;*/
            font-size: 20px;
        }
        #f2 {
            color: white;
        }
        #f3 {
            font-size: 48px;
            font-weight: 900;
        }

        #form {
            text-align: center;
        }
        h2 {
        color: white;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    #msg {
        text-align: center;
        font-size: 36px;
       color:white;
       font-weight: bold;
    }


    </style>
    {% endblock %}
    {% block nav %}
      <a class="navbar-brand" href="{{url_for('index')}}">Course Management</a>
      {% endblock %}



    {% block body %}
    <br> <br> 
   
   
    <br>
    <div  id = "f1" >
        
        <form action="{{url_for('studentuser')}}" method = "POST" id = "form" >
            <br>
            <h2> STUDENT LOG IN</h2>
            <div> <input name = "email" type = "text" placeholder="username" id = "email1" style="opacity:1;"> <br> </div>
            <div> <input name = "password" type = "password" placeholder="password"> <br></div>
            <div>
                <button> Log in </button>
            </div>

        </form>
        <br>
        <p> Not registered? <a href="{{url_for('student_signup')}}" id = "f2">SIGN UP</a></p>

        <p > <a href = "{{url_for('faculty_login')}}" style="color:skyblue;font-weight:bold;"> INSTRUCTOR   </a></p>
        <div id = "msg">
            {{ message }}
        </div>
    </div>
    <br>
    <br>
    
    
    {% endblock %}