{% extends "layout.html" %}
{% block title %} Check Details {% endblock %}
{% block style %}

<script src="{{ url_for('static', filename='css/grade_submission.js') }}"></script>
<style>
    table {
            border: 2px solid blue;
            border-collapse: collapse;
            background-color: lightgrey;
            width: 30%;
            height: 40%;
            text-align: center;
        }

        th,
        td {
            padding: 5px;
            border: 1px solid blue;
            text-align: center;
        }

        th {
            background-color: skyblue;
        }

        #table, #t1, #table1 {
            width: 100%;
            align-content: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #hide1{
            visibility: hidden;
        }
        #result, #result1 {
            color: red;
        }


</style>
{% endblock %}
{% block nav %}
<a class="navbar-brand" href="{{url_for('instructoruser')}}">Course Management</a>
{% endblock %}
{% block navigation %}
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="{{url_for('faculty_personal_details')}}"> Personal Details </a></li>
        <li><a href="{{url_for('assigned_courses')}}" id="form"> Assigned Courses </a></li>
        <li><a href="{{url_for('grade_submission')}}">Grade Submission </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"> </span>
                {{ info.instructor_id }} </a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('instructorlogout')}}">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}

<h1> Grade Submission - {{ sec.course_code }}({{ sec.section_no}}) for {{sec.semester }}{{ sec.year }}</h1>
<hr>
<div id = "hide1">{{sec.id}}</div>

<table id = "table">
    <tr>
        <th> Student ID </th>
        <th> Student Name </th>
        <th> Grade </th>
    </tr>
    <!-- {% set details = [] %} -->
    {% for student in students %}
    <!-- {{ details.append(student)}} -->
    <tr>
        <td> {{ student.student_id }} </td>
        <td> {{ student.student_first_name }} {{ student.student_last_name }} </td>
        <td> <select class = "grade" data-id="{{student.student_id}}" >
                <option value = ""> --select-- </option>
                <option value = "4.0"> 4.0 </option>
                <option value = "3.7"> 3.7 </option>
                <option value = "3.3"> 3.3 </option>
                <option value = "3.0"> 3.0 </option>
                <option value = "2.7"> 2.7 </option>
                <option value = "2.3"> 2.3 </option>
                <option value = "2.0"> 2.0 </option>
                <option value = "1.7"> 1.7 </option>
                <option value = "1.3"> 1.3 </option>
                <option value = "1.0"> 1.0 </option>
                <option value = "0.0"> 0.0 </option>

            </select>
        </td>

        
    </tr>
    {% endfor %}
</table>
<br>
<button id = "gradesubmitted"> Submit </button>
<br>
<h1 id = "msg"> </h1>






{% endblock %}